{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HoloBank</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">HoloBank</div>
      <ul>
        {% if request.session.isAdm %}
        <li><a href="{% url 'dashboard_gerente' %}">Dashboard</a></li>
        <li><a>Extrato</a></li>
        <li><a>Transferências</a></li>
        <li class="dropdown">
          <a class="dropbtn">Solicitações</a>
          <div class="dropdown-content">
            <a href="{% url 'solicitacoes_cartao_gerente' %}"
              >Solicitações de Cartão</a
            >
            <a href="{% url 'listar_solicitacoes_credito' %}"
              >Solicitações de Crédito</a
            >
          </div>
        </li>
        <li><a href="{% url 'logout' %}">Sair</a></li>
        {% else %}
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'extrato' %}">Extrato</a></li>
        <li><a href="{% url 'transferir' %}">Transferências</a></li>
        <li class="dropdown">
          <a class="dropbtn">Solicitações</a>
          <div class="dropdown-content">
            <a href="{% url 'listar_cartoes' %}">Solicitar Cartão</a>
            <a href="{% url 'solicitar_credito' %}">Solicitar Crédito</a>
            <a href="{% url 'minhas_solicitacoes' %}">Minhas Solicitações</a>
          </div>
        </li>
        <li><a href="{% url 'meus_cartoes' %}">Meus Cartões</a></li>
        <li><a href="{% url 'logout' %}">Sair</a></li>
        {% endif %}
      </ul>
    </aside>
    <main>{% block content %} Conteúdo de cada página {% endblock %}</main>
  </body>
</html>
