{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HoloBank</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}  " />
  </head>
  <body>
    <header>
      <a href="/" class="logo">HoloBank</a>
    </header>

    <section class="hero">
      <h1>Bem-vindo ao HoloBank</h1>
      <p>
        Tecnologia, segurança e eficiência reunidas para transformar sua
        experiência financeira.
      </p>
    </section>

    <div class="card">
      <h2>Comece agora</h2>
      <p>Crie sua conta ou acesse sua área para continuar.</p>
      <div class="buttons">
        <a href="{% url 'login' %}" class="btn-primary">Entrar</a>
        <a href="{% url 'cadastro' %}" class="btn-outline">Criar Conta</a>
      </div>
    </div>

    <footer>© 2025 HoloBank — Todos os direitos reservados.</footer>
  </body>
</html>
